<!-- Including Header File Template by EJS -->
<%- include("partials/header") -%>



<!-- DROP-DOWN -->

<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Select Any Of Our Branches
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/lancanshire">Lancanshire , England</a>
  <a class="dropdown-item" href="london">London, England</a>
  <a class="dropdown-item" href="chicago">Chicago, Illinois, U.S.A.
  </a>
</div>
</div>

  <img style="position:absolute; z-index:2; top:400px; left:550px; height:300px;" class="welcome-image" src="images/welcome.png" alt="Welcome Card">

<!-- Including Footer File Template by EJS -->

<%- include("partials/footer") -%>
