<!-- Including Header File Template by EJS -->
<%- include("partials/header") -%>



<!-- DROP-DOWN -->

<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Lancanshire Branch
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="lancanshire">Lancanshire , England</a>
  <a class="dropdown-item" href="london">London, England</a>
  <a class="dropdown-item" href="chicago">Chicago, Illinois, U.S.A.
  </a>
</div>
</div>
<img style="position:absolute; z-index:2; top:400px; " src="images/card.png" alt="card-image">
<img style="position:absolute; z-index:3; top:400px; left:400px; " src="images/card.png" alt="card-image">
<img style="position:absolute; z-index:3; top:400px; left:800px; " src="images/card.png" alt="card-image">

<a style ="position:absolute; z-index:2; top:500px; left:270px; color:black; font-size:25px;" href="" >Arthur Shelby</a>
<a style ="position:absolute; z-index:3; top:500px; left:670px; color:black; font-size:25px;" href="" >Tommy Shelby</a>
<a style ="position:absolute; z-index:3; top:500px; left:1075px; color:black; font-size:25px;" href="" >Grace Burgess</a>


<a  style ="position:absolute; z-index:4; top:500px; left:250px;"  href="/transfer"><img style ="width:200px; height:200px;"src="images/transfer.png" alt="money-transfer"></a>
<a  style ="position:absolute; z-index:4; top:500px; left:650px;"  href="/transfer"><img style ="width:200px; height:200px;"src="images/transfer.png" alt="money-transfer"></a>
<a  style ="position:absolute; z-index:4; top:500px; left:1060px;" href="/transfer"><img style ="width:200px; height:200px;"src="images/transfer.png" alt="money-transfer"></a>

<!-- Including Footer File Template by EJS -->

<%- include("partials/footer") -%>
